@import url("fonts/raleway.woff");
/* line 5, ../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.brew/Cellar/ruby/2.1.1_1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.brew/Cellar/ruby/2.1.1_1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.brew/Cellar/ruby/2.1.1_1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.brew/Cellar/ruby/2.1.1_1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.brew/Cellar/ruby/2.1.1_1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.brew/Cellar/ruby/2.1.1_1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.brew/Cellar/ruby/2.1.1_1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.brew/Cellar/ruby/2.1.1_1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../nfs/zfs-student-5/users/2013/bgronon/.brew/Cellar/ruby/2.1.1_1/lib/ruby/gems/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../scss/style.scss */
* {
  outline: none;
  box-sizing: border-box;
}

/* line 11, ../scss/style.scss */
html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #000000;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: 'Raleway', sans-serif;
}

/* line 20, ../scss/style.scss */
input, select, textarea, button {
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
  user-select: text;
  font-family: 'Raleway', sans-serif;
}

/* line 25, ../scss/style.scss */
button, input[type="range"], input[type="button"], input[type="submit"] {
  cursor: pointer;
}

/* line 29, ../scss/style.scss */
button.danger {
  background: rgba(255, 16, 16, 0.7);
  border: 1px solid #a50000;
  padding: 5px 10px;
  border-radius: 2px;
  color: white;
}
/* line 35, ../scss/style.scss */
button.danger:hover {
  background-color: rgba(255, 16, 16, 0.8);
}

/* line 40, ../scss/style.scss */
.drag {
  -webkit-app-region: drag;
}

/* line 44, ../scss/style.scss */
.nodrag {
  -webkit-app-region: no-drag;
}

/* line 48, ../scss/style.scss */
.flex {
  display: flex;
}
/* line 50, ../scss/style.scss */
.flex.centered-items {
  align-items: center;
}

/* line 55, ../scss/style.scss */
.full-height {
  height: 100%;
}

/* line 59, ../scss/style.scss */
.intro {
  background: url("../img/back.jpg");
  background-size: cover;
}

/* line 64, ../scss/style.scss */
body {
  margin: 0;
}
/* line 66, ../scss/style.scss */
body > nav {
  position: fixed;
}
/* line 69, ../scss/style.scss */
body > section {
  color: white;
}
/* line 71, ../scss/style.scss */
body > section canvas {
  height: 100%;
}
/* line 74, ../scss/style.scss */
body > section form {
  padding: 20px;
  margin: 0 auto;
  width: 300px;
}
/* line 78, ../scss/style.scss */
body > section form input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 86, ../scss/style.scss */
body > section form input[type="submit"]:hover {
  background-color: rgba(70, 70, 177, 0.5);
}
/* line 90, ../scss/style.scss */
body > section form input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
/* line 94, ../scss/style.scss */
body > section form p {
  text-align: center;
  font-size: 13px;
  padding: 10px;
}

/* Infobox */
/* line 104, ../scss/style.scss */
.infos {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  top: 20px;
  left: 20px;
  font-size: 13px;
}
/* line 111, ../scss/style.scss */
.infos ul {
  list-style-type: none;
  padding: 0;
}
/* line 117, ../scss/style.scss */
.infos section:first-child input[type="range"], .infos section:first-child p:first-child {
  display: block;
  margin-bottom: 10px;
}
/* line 123, ../scss/style.scss */
.infos section:nth-child(2) > * {
  margin-bottom: 10px;
}
/* line 126, ../scss/style.scss */
.infos section:nth-child(2) ul {
  padding-top: 5px;
}
/* line 132, ../scss/style.scss */
.infos section:last-child .teams .team {
  min-width: 50px;
  margin-bottom: 5px;
}
/* line 135, ../scss/style.scss */
.infos section:last-child .teams .team > * {
  margin-right: 5px;
}
/* line 138, ../scss/style.scss */
.infos section:last-child .teams .team .color {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 146, ../scss/style.scss */
.infos section.borded {
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 150, ../scss/style.scss */
.infos section.marged {
  margin-right: 20px;
}

/* Navbar with buttons */
/* line 157, ../scss/style.scss */
nav {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  opacity: 0.6;
  background: -webkit-gradient(linear, left top, left 25, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0)));
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 167, ../scss/style.scss */
nav:hover {
  opacity: 1.0;
}
/* line 170, ../scss/style.scss */
nav a {
  z-index: 2000;
  content: '';
  border: 0;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 0;
  width: 10px;
  height: 10px;
  line-height: 3px;
  top: 8px;
  right: 8px;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  color: #CCC;
  opacity: 0.6;
}
/* line 188, ../scss/style.scss */
nav a.hide {
  right: 32px;
}
/* line 190, ../scss/style.scss */
nav a.hide:hover {
  background-color: #d0a00f;
}
/* line 194, ../scss/style.scss */
nav a.resize {
  right: 20px;
}
/* line 196, ../scss/style.scss */
nav a.resize:hover {
  background-color: #0fb00f;
}
/* line 201, ../scss/style.scss */
nav a.close:hover {
  background-color: #b00f0f;
}
/* line 205, ../scss/style.scss */
nav a:hover {
  opacity: 1.0;
}

/* Stats */
/* line 212, ../scss/style.scss */
#stats {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
