@import 'compass/css3';
@import 'compass/reset';
@import 'compass/css3/transition';

* {
	outline: none;
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: #000000;
	@include user-select(none);
}

input, select, textarea, button, i {
	@include user-select(text);
}

body {
	margin: 0;
	> nav {
		position: fixed;
	}
	> section {
		color: white;
		canvas {
			height: 100%;
		}
		form {
			padding: 20px;
			margin: 0 auto;
			width: 300px;
			input {
				width: 100%;
				background-color: transparent;
				color: white;
				border: 1px solid rgba(white, .3);
				padding: 10px 10px;
				@include border-radius(2px);
				&[type="submit"] {
					cursor: pointer;
					&:hover {
						background-color: rgba(70, 70, 177, .5);;
					}
				}
				&:hover {
					border-color: rgba(white, .6);
				}
			}
		}
	}
}

.flex {
	display: flex;
	&.centered-items {
		align-items: center;
	}
}

.full-height {
	height: 100%;
}

/* Infobox */
.infos {
	position: absolute;
	background-color: rgba(black, .6);
	padding: 20px;
	top: 20px;
	left: 20px;
	font-family: Arial;
	font-size: 13px;
	ul {
		list-style-type: none;
		padding: 0;
	}
	section {
		&.selectedinfos {
			padding-right: 20px;
			border-right: 1px solid rgba(white, .2);
		}
		&:first-child {
			margin-right: 20px;
			> * {
				margin-bottom : 10px;
			}
			ul {
				padding-top: 5px;
			}
		}
		&:last-child {
			.teams {
				.team {
					min-width: 50px;
					margin-bottom: 5px;
					> * {
						margin-right: 5px;
					}
					.color {
						width: 15px;
						height: 15px;
						border: 1px solid rgba(white, .3);
					}
				}
			}
		}
	}
}

.drag {
	-webkit-app-region: drag;
}

.nodrag {
	-webkit-app-region: no-drag;
}

/* Navbar with buttons */
nav {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 25px;
	opacity: 0.6;
	background: -webkit-gradient(linear, left top, left 25, from(rgba(black, .2)), to(rgba(white, 0)));
	@include transition(all .3s);
	&:hover {
		opacity: 1.0;
	}
	a {
		z-index: 2000;
		content: '';
		border: 0;
		background-color: rgba(gray, .7);
		padding: 0;
		width: 10px;
		height: 10px;
		line-height: 3px;
		top: 8px;
		right: 8px;
		overflow: hidden;
		position: absolute;
		cursor: pointer;
		@include border-radius(50%);
		@include transition(background-color .3s);
		color: #CCC;
		opacity: 0.6;
		&.hide {
			right: 32px	;
			&:hover {
				background-color: #d0a00f;
			}
		}
		&.resize {
			right: 20px;
			&:hover {
				background-color: #0fb00f;
			}
		}
		&.close {
			&:hover {
				background-color: #b00f0f;
			}
		}
		&:hover {
			opacity: 1.0;
		}
	}
}
