<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<link href="css/style.css" type="text/css" rel="stylesheet">

		<!-- Lib -->
		<script src="lib/three.min.js" type="text/javascript"></script>
		<script src="lib/OrbitControls.js" type="text/javascript"></script>
		<script src="lib/OBJMTLLoader.js" type="text/javascript"></script>
		<script src="lib/MTLLoader.js" type="text/javascript"></script>
		<script src="lib/ShaderParticles.min.js" type="text/javascript"></script>
		<!-- END Lib -->

		<!-- Bower -->
		<script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
		<script src="bower_components/stats.js/build/stats.min.js" type="text/javascript"></script>
		<!-- END Bower -->

		<!-- Custom -->
		<script src="js/app.js" type="text/javascript"></script>
		<!-- END Custom -->

	</head>
	<body ng-app="threepyApp" ng-controller="threepyCtrl">
		<nav class="drag">
			<span>
				<a class="hide nodrag" ng-click="minimize()"></a>
				<a class="resize nodrag" ng-click="toggleFull()"></a>
				<a class="close nodrag" ng-click="quit()"></a>
			</span>
		</nav>
		<h1 class="win" ng-if="ui.win">TEAM {{ ui.win }} WINS</h1>
		<section ng-if="!ui.connected && !ui.win" class="flex centered-items full-height intro">
			<form ng-submit="connect()">
				<input type="text" placeholder="Host" ng-model="ui.connectHost">
				<input type="number" placeholder="Port" ng-model="ui.connectPort">
				<input type="submit" value="Connect">
				<p>{{ ui.msg }}</p>
			</form>
		</section>
		<section ng-if="ui.connected && !ui.win" class="infos flex">
			<section class="marged" ng-class="{ borded: selectedInfos || resume }">
				<p>Commands</p>
				<p>Server speed: {{ ui.serverSpeed }}</p>
				<input type="range" min="10" max="100" ng-model="ui.rangeSpeed">
				<button class="danger" ng-click="disconnect()">Disconnect</button>
			</section>
			<section ng-if="selectedInfos" class="marged" ng-class="{ borded: selectedInfos && resume }">
				<p>[ {{ selectedInfos.x }},{{ selectedInfos.y }} ]</p>
				<span>Ressources:</span>
				<ul class="ressources">
					<li ng-repeat="ressource in selectedInfos.res">{{ ressourcesNames[ressource.type] }} x{{ ressource.quantity }}</li>
				</ul>
			</section>
			<section>
				<ul class="teams">
					<li class="team flex" ng-repeat="team in resume.teams">
						<div class="color" ng-style="{ background: '#' + team.color }"></div>
						<span>{{ team.name }}</span>
						<p class="levels" ng-if="team.levels.length">(<span ng-repeat="level in team.levels">LVL {{ level.level }}x{{ level.nb }}<span ng-if="!$last">, </span></span>)</p>
					</li>
				</ul>
			</section>
		</section>

		<script id="fragmentShader" type="x-shader/x-fragment">
			uniform float m_MinAlpha;
			uniform float m_MaxDistance;
			const float pi = 3.141592;
			const float e = 2.71828183;
			uniform vec4 m_Color;

			uniform int m_CollisionNum;
			uniform float m_CollisionAlphas;
			varying float dists;

			void main(void) {
			    vec4 color = vec4(1.0,1.0,1.0,m_MinAlpha);
			    float x = dists/(m_MaxDistance);//+();
			    float y = (1.0 - m_CollisionAlphas);
			    color.a += pow(e,(-1.0*((x-y)*(x-y))*30.0))*(1.0-y);
			    color *= m_Color;
			    gl_FragColor = color;
			}
		</script>

		<script id="vertexShader" type="x-shader/x-vertex">
			uniform int m_CollisionNum;
			uniform vec3 m_Collisions;
			varying float dists;

			void main(){
				dists=distance(position,m_Collisions);
				gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);
			}
		</script>
	</body>
</html>
